@import url('../styles/variables.css');

.home-header {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.header-title h1 {
  color: var(--text-light);
}

.header-title p {
  color: var(--light-accent);
}

.filters-container {
  background-color: var(--background-light);
  border: 1px solid var(--neutral-color);
}

.loading {
  color: var(--secondary-color);
}

.error {
  color: var(--error-color);
}

.modal.success {
  border-left: 4px solid var(--success-color);
}

.modal.error {
  border-left: 4px solid var(--error-color);
}

.modal.success h3 {
  color: var(--success-color);
}

.modal.error h3 {
  color: var(--error-color);
}