.alert-header {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.alert-confirm-btn {
  background-color: var(--secondary-color);
}

.alert-confirm-btn:hover {
  background-color: var(--primary-color);
}