.search-button {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.search-button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}