@import url('../styles/variables.css');

.table-header {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.delete-btn {
  background: var(--error-color);
}

.delete-btn:hover {
  background: #c82333;
}

.total-section {
  background: var(--gray-light);
  border: 1px solid var(--neutral-color);
}

.shipping-form {
  background: var(--background-light);
  border: 1px solid var(--neutral-color);
}

.form-group input:focus,
.form-group select:focus {
  border-color: var(--secondary-color);
  outline: none;
}

.form-group input.error,
.form-group select.error {
  border-color: var(--error-color);
}

.purchase-btn {
  background: var(--secondary-color);
}

.purchase-btn:hover {
  background: var(--primary-color);
}