.button-primary {
  background-color: var(--secondary-color);
}

.button-primary:hover:not(:disabled) {
  background-color: var(--primary-color);
}

.button-secondary {
  background-color: var(--neutral-color);
}

.button-secondary:hover:not(:disabled) {
  background-color: var(--accent-color);
}