@import url('../../styles/variables.css');

.modal-content {
  background: var(--background-light);
  border: 1px solid var(--neutral-color);
}

.modal-header {
  background-color: var(--primary-color);
  color: var(--text-light);
  border-bottom: 2px solid var(--secondary-color);
}

.modal-close {
  color: var(--text-light);
}

.modal-close:hover {
  color: var(--light-accent);
}